---
---

@import "{{ site.theme }}";
.site-title {
    font-size: 45px;
    color: #010c63;
    font-weight: 100;
}
body h1 {
    font-weight: 250;
    font-size: 30px;
}
body p {
    font-weight: 300;
}
body ul {
    font-weight: 300;
}
.site-header {border: none;}
.footer-col-3 {
    width: auto;
    text-align: right;
}
.site-masthead {
  height: 40px;
  width: auto;
}

.column-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

